-- -- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
-- --
-- -- Host: localhost    Database: meeting_room_booking
-- -- ------------------------------------------------------
-- -- Server version	10.4.32-MariaDB

-- /*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
-- /*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
-- /*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
-- /*!40101 SET NAMES utf8mb4 */;
-- /*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
-- /*!40103 SET TIME_ZONE='+00:00' */;
-- /*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
-- /*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
-- /*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
-- /*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

-- --
-- -- Temporary table structure for view `booking_details`
-- --

-- DROP TABLE IF EXISTS `booking_details`;
-- /*!50001 DROP VIEW IF EXISTS `booking_details`*/;
-- SET @saved_cs_client     = @@character_set_client;
-- SET character_set_client = utf8;
-- /*!50001 CREATE VIEW `booking_details` AS SELECT
--  1 AS `booking_id`,
--   1 AS `booking_reference`,
--   1 AS `booking_date`,
--   1 AS `start_time`,
--   1 AS `end_time`,
--   1 AS `purpose`,
--   1 AS `attendees`,
--   1 AS `status`,
--   1 AS `qr_code`,
--   1 AS `username`,
--   1 AS `full_name`,
--   1 AS `email`,
--   1 AS `room_name`,
--   1 AS `location`,
--   1 AS `capacity`,
--   1 AS `amenities`,
--   1 AS `created_at` */;
-- SET character_set_client = @saved_cs_client;

-- --
-- -- Table structure for table `bookings`
-- --

-- DROP TABLE IF EXISTS `bookings`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `bookings` (
--   `booking_id` int(11) NOT NULL AUTO_INCREMENT,
--   `user_id` int(11) NOT NULL,
--   `room_id` varchar(10) NOT NULL,
--   `booking_date` date NOT NULL,
--   `start_time` time NOT NULL,
--   `end_time` time NOT NULL,
--   `purpose` text DEFAULT NULL,
--   `attendees` int(11) NOT NULL,
--   `status` enum('confirmed','cancelled','completed') DEFAULT 'confirmed',
--   `qr_code` varchar(255) DEFAULT NULL,
--   `booking_reference` varchar(50) DEFAULT NULL,
--   `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
--   `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
--   PRIMARY KEY (`booking_id`),
--   UNIQUE KEY `booking_reference` (`booking_reference`),
--   KEY `user_id` (`user_id`),
--   KEY `room_id` (`room_id`),
--   CONSTRAINT `bookings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
--   CONSTRAINT `bookings_ibfk_2` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`room_id`) ON DELETE CASCADE
-- ) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `bookings`
-- --

-- LOCK TABLES `bookings` WRITE;
-- /*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
-- INSERT INTO `bookings` VALUES (4,3,'7.21','2025-09-21','09:00:00','10:30:00','Research group meeting for thesis project',4,'confirmed','BK202509210001.svg','BK202509210001','2025-09-21 12:59:37','2025-09-21 13:10:16'),(5,4,'9.15','2025-09-21','14:00:00','16:00:00','Individual study session for final exams',1,'confirmed','BK202509210005.svg','BK202509210005','2025-09-21 12:59:37','2025-09-21 13:10:16'),(6,3,'3.53','2025-09-22','10:00:00','12:00:00','Library orientation workshop for new students',12,'confirmed','BK202509210006.svg','BK202509210006','2025-09-21 12:59:37','2025-09-21 13:10:16'),(7,4,'2.10','2025-09-23','13:00:00','15:00:00','Group study for computer science project',6,'confirmed','BK202509210007.svg','BK202509210007','2025-09-21 12:59:37','2025-09-21 13:10:16'),(8,3,'6.72','2025-09-24','16:00:00','18:00:00','Guest lecture on digital archives',15,'confirmed','BK202509210008.svg','BK202509210008','2025-09-21 12:59:37','2025-09-21 13:10:16'),(9,3,'5.12','2025-09-21','09:30:00','11:00:00','',1,'confirmed','BK202509210009.svg','BK202509210009','2025-09-21 13:07:13','2025-09-21 13:10:16'),(10,3,'9.15','2025-09-21','09:30:00','13:00:00','',4,'confirmed','BK202509216568.svg','BK202509210010','2025-09-21 13:23:34','2025-09-21 13:23:34'),(11,3,'7.21','2025-09-21','11:30:00','15:00:00','',2,'confirmed','BK202509219757.svg','BK202509210011','2025-09-21 14:06:02','2025-09-21 14:06:02'),(12,3,'2.10','2025-09-21','09:30:00','11:30:00','',2,'confirmed','BK202509218373.svg','BK202509210012','2025-09-21 15:52:22','2025-09-21 15:52:22'),(13,3,'7.21','2025-09-27','09:00:00','11:00:00','',3,'confirmed','BK202509279843.svg','BK202509270013','2025-09-27 04:39:57','2025-09-27 04:39:57'),(14,3,'5.12','2025-09-27','09:30:00','12:30:00','',6,'cancelled','BK202509278458.svg','BK202509270014','2025-09-27 06:49:16','2025-09-27 09:55:47'),(15,3,'9.15','2025-09-27','08:30:00','10:00:00','',3,'confirmed','BK202509272582.svg','BK202509270015','2025-09-27 07:05:39','2025-09-27 07:05:39'),(16,3,'2.10','2025-09-27','08:00:00','09:30:00','',7,'confirmed','BK202509277329.svg','BK202509270016','2025-09-27 07:13:59','2025-09-27 07:13:59'),(17,3,'2.10','2025-09-27','10:00:00','12:00:00','',8,'confirmed','BK202509276002.svg','BK202509270017','2025-09-27 08:33:22','2025-09-27 08:33:22'),(18,3,'7.21','2025-09-27','13:00:00','13:30:00','',1,'confirmed','BK202509273391.svg','BK202509270018','2025-09-27 09:21:35','2025-09-27 09:21:35');
-- /*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
-- UNLOCK TABLES;
-- /*!50003 SET @saved_cs_client      = @@character_set_client */ ;
-- /*!50003 SET @saved_cs_results     = @@character_set_results */ ;
-- /*!50003 SET @saved_col_connection = @@collation_connection */ ;
-- /*!50003 SET character_set_client  = utf8mb4 */ ;
-- /*!50003 SET character_set_results = utf8mb4 */ ;
-- /*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
-- /*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
-- /*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
-- DELIMITER ;;
-- /*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER generate_booking_reference

--     BEFORE INSERT ON bookings

--     FOR EACH ROW

--     BEGIN

--         SET NEW.booking_reference = CONCAT('BK', DATE_FORMAT(NOW(), '%Y%m%d'), LPAD((SELECT COALESCE(MAX(booking_id), 0) + 1 FROM bookings), 4, '0'));

--     END */;;
-- DELIMITER ;
-- /*!50003 SET sql_mode              = @saved_sql_mode */ ;
-- /*!50003 SET character_set_client  = @saved_cs_client */ ;
-- /*!50003 SET character_set_results = @saved_cs_results */ ;
-- /*!50003 SET collation_connection  = @saved_col_connection */ ;

-- --
-- -- Table structure for table `login_attempts`
-- --

-- DROP TABLE IF EXISTS `login_attempts`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `login_attempts` (
--   `attempt_id` int(11) NOT NULL AUTO_INCREMENT,
--   `username` varchar(50) DEFAULT NULL,
--   `ip_address` varchar(45) DEFAULT NULL,
--   `attempted_at` timestamp NOT NULL DEFAULT current_timestamp(),
--   `success` tinyint(1) DEFAULT 0,
--   PRIMARY KEY (`attempt_id`)
-- ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `login_attempts`
-- --

-- LOCK TABLES `login_attempts` WRITE;
-- /*!40000 ALTER TABLE `login_attempts` DISABLE KEYS */;
-- /*!40000 ALTER TABLE `login_attempts` ENABLE KEYS */;
-- UNLOCK TABLES;

-- --
-- -- Table structure for table `qr_scans`
-- --

-- DROP TABLE IF EXISTS `qr_scans`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `qr_scans` (
--   `scan_id` int(11) NOT NULL AUTO_INCREMENT,
--   `booking_id` int(11) NOT NULL,
--   `scanned_by` int(11) NOT NULL,
--   `scan_time` timestamp NOT NULL DEFAULT current_timestamp(),
--   `scan_location` varchar(100) DEFAULT NULL,
--   `device_info` text DEFAULT NULL,
--   PRIMARY KEY (`scan_id`),
--   KEY `booking_id` (`booking_id`),
--   KEY `scanned_by` (`scanned_by`),
--   CONSTRAINT `qr_scans_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`booking_id`) ON DELETE CASCADE,
--   CONSTRAINT `qr_scans_ibfk_2` FOREIGN KEY (`scanned_by`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
-- ) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `qr_scans`
-- --

-- LOCK TABLES `qr_scans` WRITE;
-- /*!40000 ALTER TABLE `qr_scans` DISABLE KEYS */;
-- INSERT INTO `qr_scans` VALUES (1,8,3,'2025-09-21 13:45:24','Web Scanner','Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0'),(2,10,3,'2025-09-21 13:45:59','Web Scanner','Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0'),(3,8,3,'2025-09-21 14:07:08','Web Scanner','Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0'),(4,12,3,'2025-09-21 15:53:26','Web Scanner','Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0'),(5,13,3,'2025-09-27 04:40:55','Web Scanner','Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0'),(6,14,3,'2025-09-27 07:14:53','Web Scanner','Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0'),(7,17,3,'2025-09-27 08:51:50','Web Scanner','Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:143.0) Gecko/20100101 Firefox/143.0');
-- /*!40000 ALTER TABLE `qr_scans` ENABLE KEYS */;
-- UNLOCK TABLES;

-- --
-- -- Table structure for table `rooms`
-- --

-- DROP TABLE IF EXISTS `rooms`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `rooms` (
--   `room_id` varchar(10) NOT NULL,
--   `room_name` varchar(100) NOT NULL,
--   `capacity` int(11) NOT NULL,
--   `location` varchar(100) DEFAULT NULL,
--   `description` text DEFAULT NULL,
--   `amenities` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`amenities`)),
--   `is_active` tinyint(1) DEFAULT 1,
--   `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
--   `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
--   PRIMARY KEY (`room_id`)
-- ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `rooms`
-- --

-- LOCK TABLES `rooms` WRITE;
-- /*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
-- INSERT INTO `rooms` VALUES ('2.10','Study Hall Alpha',8,'Main Library - Floor 2','Collaborative study space with moveable furniture',NULL,1,'2025-09-21 12:58:14','2025-09-21 12:58:14'),('3.15','Research Library Meeting Room',12,'Research Library - Floor 3','Advanced research facility with multimedia equipment',NULL,1,'2025-09-21 12:58:14','2025-09-21 12:58:14'),('3.53','Central Library Conference Room',12,'Central Library - Floor 3','Large conference room for library seminars and group projects',NULL,1,'2025-09-21 12:58:14','2025-09-21 12:58:14'),('4.08','Digital Library Lab',10,'Digital Library - Floor 4','Computer lab with latest software for research',NULL,1,'2025-09-21 12:58:14','2025-09-21 12:58:14'),('5.12','Silent Study Zone',6,'University Library - Floor 5','Completely silent study area for focused work',NULL,1,'2025-09-21 12:58:14','2025-09-21 12:58:14'),('6.72','Library Auditorium',15,'Main Library - Floor 6','Large auditorium for library events and presentations',NULL,1,'2025-09-21 12:58:14','2025-09-21 12:58:14'),('7.21','Main Library Study Room A',5,'Main Library - Floor 7','Small group study room with projector and whiteboard',NULL,1,'2025-09-21 12:58:14','2025-09-21 12:58:14'),('9.15','University Library Quiet Study Hall',7,'University Library - Floor 9','Quiet study hall with individual workstations',NULL,1,'2025-09-21 12:58:14','2025-09-21 12:58:14');
-- /*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
-- UNLOCK TABLES;

-- --
-- -- Table structure for table `user_preferences`
-- --

-- DROP TABLE IF EXISTS `user_preferences`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `user_preferences` (
--   `user_id` int(11) NOT NULL,
--   `timezone` varchar(50) DEFAULT 'America/New_York',
--   `language` varchar(10) DEFAULT 'en',
--   `date_format` varchar(20) DEFAULT 'Y-m-d',
--   `time_format` varchar(10) DEFAULT '24h',
--   `email_notifications` tinyint(1) DEFAULT 1,
--   `sms_notifications` tinyint(1) DEFAULT 0,
--   `reminder_before_booking` int(11) DEFAULT 60,
--   `theme_preference` enum('light','dark','auto') DEFAULT 'light',
--   `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
--   `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
--   PRIMARY KEY (`user_id`),
--   CONSTRAINT `user_preferences_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
-- ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `user_preferences`
-- --

-- LOCK TABLES `user_preferences` WRITE;
-- /*!40000 ALTER TABLE `user_preferences` DISABLE KEYS */;
-- INSERT INTO `user_preferences` VALUES (3,'America/New_York','en','Y-m-d','24h',1,0,60,'dark','2025-09-27 08:52:30','2025-09-27 08:52:30');
-- /*!40000 ALTER TABLE `user_preferences` ENABLE KEYS */;
-- UNLOCK TABLES;

-- --
-- -- Table structure for table `user_sessions`
-- --

-- DROP TABLE IF EXISTS `user_sessions`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `user_sessions` (
--   `session_id` varchar(128) NOT NULL,
--   `user_id` int(11) NOT NULL,
--   `ip_address` varchar(45) DEFAULT NULL,
--   `user_agent` text DEFAULT NULL,
--   `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
--   `expires_at` timestamp NOT NULL DEFAULT current_timestamp(),
--   `is_active` tinyint(1) DEFAULT 1,
--   PRIMARY KEY (`session_id`),
--   KEY `user_id` (`user_id`),
--   CONSTRAINT `user_sessions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
-- ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `user_sessions`
-- --

-- LOCK TABLES `user_sessions` WRITE;
-- /*!40000 ALTER TABLE `user_sessions` DISABLE KEYS */;
-- /*!40000 ALTER TABLE `user_sessions` ENABLE KEYS */;
-- UNLOCK TABLES;

-- --
-- -- Table structure for table `users`
-- --

-- DROP TABLE IF EXISTS `users`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `users` (
--   `user_id` int(11) NOT NULL AUTO_INCREMENT,
--   `username` varchar(50) NOT NULL,
--   `email` varchar(100) NOT NULL,
--   `password_hash` varchar(255) NOT NULL,
--   `full_name` varchar(100) NOT NULL,
--   `phone` varchar(20) DEFAULT NULL,
--   `department` varchar(50) DEFAULT NULL,
--   `role` enum('user','admin') DEFAULT 'user',
--   `is_active` tinyint(1) DEFAULT 1,
--   `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
--   `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
--   PRIMARY KEY (`user_id`),
--   UNIQUE KEY `username` (`username`),
--   UNIQUE KEY `email` (`email`)
-- ) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `users`
-- --

-- LOCK TABLES `users` WRITE;
-- /*!40000 ALTER TABLE `users` DISABLE KEYS */;
-- INSERT INTO `users` VALUES (3,'admin','admin@company.com','$2y$10$TDf5b3yZtWTQbWYRtVWrk.pBeYyUBxEXfHe.dwynwKKfFTO8pMFY.','System Administrator',NULL,NULL,'admin',1,'2025-09-21 12:43:12','2025-09-27 10:11:04'),(4,'demo','demo@company.com','$2y$10$cnmebDdKa3HjJocQXbB21uYJbCKaYmM7FQnpn6YfBw9JY0Q7yNZ/W','Demo User',NULL,NULL,'user',1,'2025-09-21 12:43:12','2025-09-21 12:43:12');
-- /*!40000 ALTER TABLE `users` ENABLE KEYS */;
-- UNLOCK TABLES;

-- --
-- -- Dumping routines for database 'meeting_room_booking'
-- --

-- --
-- -- Final view structure for view `booking_details`
-- --

-- /*!50001 DROP VIEW IF EXISTS `booking_details`*/;
-- /*!50001 SET @saved_cs_client          = @@character_set_client */;
-- /*!50001 SET @saved_cs_results         = @@character_set_results */;
-- /*!50001 SET @saved_col_connection     = @@collation_connection */;
-- /*!50001 SET character_set_client      = utf8mb4 */;
-- /*!50001 SET character_set_results     = utf8mb4 */;
-- /*!50001 SET collation_connection      = utf8mb4_general_ci */;
-- /*!50001 CREATE ALGORITHM=UNDEFINED */
-- /*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
-- /*!50001 VIEW `booking_details` AS select `b`.`booking_id` AS `booking_id`,`b`.`booking_reference` AS `booking_reference`,`b`.`booking_date` AS `booking_date`,`b`.`start_time` AS `start_time`,`b`.`end_time` AS `end_time`,`b`.`purpose` AS `purpose`,`b`.`attendees` AS `attendees`,`b`.`status` AS `status`,`b`.`qr_code` AS `qr_code`,`u`.`username` AS `username`,`u`.`full_name` AS `full_name`,`u`.`email` AS `email`,`r`.`room_name` AS `room_name`,`r`.`location` AS `location`,`r`.`capacity` AS `capacity`,`r`.`amenities` AS `amenities`,`b`.`created_at` AS `created_at` from ((`bookings` `b` join `users` `u` on(`b`.`user_id` = `u`.`user_id`)) join `rooms` `r` on(`b`.`room_id` = `r`.`room_id`)) */;
-- /*!50001 SET character_set_client      = @saved_cs_client */;
-- /*!50001 SET character_set_results     = @saved_cs_results */;
-- /*!50001 SET collation_connection      = @saved_col_connection */;
-- /*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

-- /*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
-- /*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
-- /*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
-- /*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
-- /*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
-- /*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
-- /*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- -- Dump completed on 2025-10-04  1:02:17
